{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Todo{% endblock %}</title>
        <meta charset="UTF-8" />

        <link rel ="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
        <link rel ="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
        <link rel ="stylesheet" type="text/css" href="{% static 'css/header.css' %}" />
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'js/jquery.js' %}"></script>

    </head>
    <body>
        
        {% block todo %}
        {% endblock %} 
 
    </body>
</html>
