<div id="todo" class="well">
    {% block todo %}
    <table class="table table-hover">
        <thead>
            <tr>
                <td>
                    <h3 class="text-success">TODO</h3>
                </td>
                <td>
                        <a class="btn btn-success" href="#myModal" role="button" data-toggle="modal">
                            <i class="icon-plus icon-white"></i><span>ADD</span>
                        </a>
                </td>
            </tr>
        </thead>
        <tbody>
            {% for todo in todolist %} {% if todo.priority == '1' %}
            <tr class='error'>
                {% endif %} {% if todo.priority == '2' %}
                <tr class='warning'>
                    {% endif %} {% if todo.priority == '3' %}
                    <tr class='info'>
                        {% endif %}
                        <td class="todo">{{ todo.todo }}</td>
                        <td class="te">
                            <div class="span2">
                                <a href="{% url 'finish' todo.id %}" title="finish" todoid="{{ todo.id }}"><span class="label label-danger todoDone">Done</span></a>
                                <a href="{% url 'update' todo.id %}" title="edit" todoid="{{ todo.id }}"><span class="label label-warning todoEdit">Edit</span></i></a>
                                <a href="{% url 'delete' todo.id%}" todoid="{{ todo.id }}" title="delete"><span class="label label-default todoTrash">Delete</span></a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %} {% for ftodo in finishtodos %}
                    <tr class='success'>
                        <td class="ftodo muted">{{ ftodo.todo }}</td>
                        <td class="te">
                            <div class="span2">
                                <a href="{% url 'backout' ftodo.id %}" title="redo" todoid="{{ ftodo.id }}"><span class="label label-success">Undo</span></a>
                                <a href="{% url 'update' ftodo.id %}" title="edit" todoid="{{ ftodo.id }}"><span class="label label-warning todoEdit">Edit</span></a>
                                <a href="{% url 'delete' ftodo.id %}" todoid="{{ ftodo.id }}" title="delete"><span class="label label-default todoTrash">Delete</span></a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
        </tbody>
    </table>

    {% endblock %}
</div>

<script type="text/javascript">
function sendtodo() {

    $('#myModal form').submit(function() {
        $.ajax({
            type: "POST",
            data: $('#myModal form').serialize(),
            url: "{% url 'add' %}",
            cache: false,
            dataType: "html",
            success: function(html, textStatus) {
                $('#todo').replaceWith(html);
                $('#myModal').modal('hide');
                $('#myModal form')[0].reset();
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                alert('Error occurs!');
            }
        });
        return false;
    }, 5000);
    $('#editModal form').submit(function() {
        $.ajax({
            type: "POST",
            data: $('#editModal form').serialize(),
            url: "{% url 'edit' %}",
            cache: false,
            dataType: "html",
            success: function(html, textStatus) {
                $('#todo').replaceWith(html);
                $('#editModal').modal('hide');
                $('#editModal form')[0].reset();
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                alert('Error occurs!');
            }
        });
        return false;
    }, 1000);

    $('.todoEdit').click(function() {
        var id = $(this).parent().attr('todoid');
        $.ajax({
            url: '{% url 'edit' %}',
            data: {'id': id},
            cache: false,
            dataType: "html",
            success: function(html, textStatus) {
                $('#editModal').replaceWith(html);
                $('#editModal').modal('show');
                $('#editModal form')[0].reset();
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                alert('Error occurs!');
            }
        });

        return false;

    });

    $('.todoTrash').click(function() {
        /* Act on the event */
        var id = $(this).parent().attr('todoid');
        var open = confirm('are you sure to delete?');
        if(open==true){
            $.ajax({
                data: {'id': id},
                url: "{% url 'shanchu' %}",
                cache: false,
                dataType: "html",
                success: function(html, textStatus) {
                    $('#todo').replaceWith(html);
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    alert('Error occurs!');
                }
            });
        }
        // new Ajax.Updater('todo','{% url 'shanchu' %}',{'id' : id});
        return false;

    });


    $('.todoDone').click(function() {
        var id = $(this).parent().attr('todoid');
        $.ajax({
            url: '{% url 'wancheng' %}',
            data: {'id': id},
            cache: false,
            dataType: "html",
            success: function(html, textStatus) {
                $('#todo').replaceWith(html);

            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                alert('Error occurs!');
            }
        });
        return false;

    });
}
$(document).ready(function() {
    sendtodo();
})
</script>