#header {
    width: 100%;
    background: #417690;
    color: #ffc!important;
    overflow: hidden;
    font-size: 12px;
    font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    color: #333;
    height: 37px;
    position: fixed;
}

#header h1{
	margin: 0px;
	margin-top: -5px;
}

#header a{
	font-size: 22px;
	color: #ffc!important;
	line-height: 5px;

}
#branding {
    float: left;
    color: 
}
#user-tools {
    float: right;
    padding: 1.2em 10px;
    font-size: 11px;
    text-align: right;
}
#user-tools a{
	font-size: 12px;
}

.te a{
	float: right;
	margin-left: 10px
}